div.cjsearchform { 
    text-align: left; 
    border: 1px solid #919294; 
    background-color: #FFFFFF;
    padding: 8px; 
    font-family: Arial, sans-serif; 
    font-size: 13px; 
    color: #000000; 
    width: 480px;
    margin: 20px auto; /* Center align */
}

div.cjsearchform form.cjsearchform { 
    padding: 0;
}

span.cjlabel { 
    font-size: 13px; 
    font-weight: bold; 
    color: #000000; 
}

span.cjlabelsmall { 
    font-size: 11px; 
    color: #000000; 
}

input.cjinput { 
    width: 90%;
    padding: 3px 0px;
    border: 1px solid #AAA;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.cjbotl {
    color: #000000;
}

div.cjbotl a {
    color: #198ADC;
}

input.cjbutton {  
    font-family: Arial, sans-serif; 
}

/* Careerjet job box styles */
div.cjjobbox {
    width: 345px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #919294;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    text-align: left;
    margin: 20px auto; /* Center align */
}

div.cjjobbox a {
    color: #198ADC;
}